body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.olak {
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 16px;
}

.welcome {
    position: relative;
}

.welcome-box {
    position: absolute;
    top: -18px;
    right: -16px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.welcome-box img {
    width: 100%;
    height: 100%;
}

.welcome h1,
.welcome h5 {
    color: #133D7F;
}

.custom-blue {
    color: #133D7F;
}



.bg-custom-blue {
    background-color: #133D7F !important;
}

.aroma h1,
.aroma h5 {
    color: #7F133A !important;
}

.custom-red {
    color: #7F133A;
}

.bg-custom-red {
    background-color: #7F133A !important;
}

.anchor {
    transition: transform 450ms;
}

.anchor:hover {
    transition: transform 125ms;
    transform: translateY(-5px);
}

.grid-container {
    display: grid;
    place-items: center;
    height: 72vh;
}

.grid {
    display: grid;
    place-items: center;
}

.pr-custom {
    padding-right: 150px;
}

.aside-left h4 {
    font-size: 1rem;
}

.form-control {
    border: 1px solid #133D7F !important;
}

.form-control:focus,
.btn:focus {
    box-shadow: none !important;
}

@media (min-width:320px) {

    .welcome h1 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .welcome h5 {
        font-size: 0.8rem;
        text-align: center;
    }

    .welcome-box {
        width: 50px;
        height: 50px;
        z-index: 2;
    }

    .grid-container {
        height: auto;
    }

    .pr-custom {
        padding-right: 15px;
    }
}

@media (min-width:640px) {

    .welcome h1 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .welcome h5 {
        font-size: 1rem;
        text-align: left;
    }

    .welcome-box {
        width: 100px;
        height: 100px;
        z-index: 2;
    }

    .grid-container {
        height: 72vh;
    }
}

@media (min-width:1024px) {

    .welcome h1 {
        font-size: 2rem;
    }

}











.outer-warp {
    float: left;
    width: 100%;
    background-color: #fbfbfb;
    position: relative;
    z-index: 9;
    background-image: url(banner-shape.png);
    background-repeat: no-repeat;
    background-position: 100% top;
    height: auto;
    min-height: 100vh;
    background-size: auto 100%;
}

.banner-sec {
    position: relative;
    padding-top: 105px;
}

section {
    float: left;
    width: 100%;
}

.welcome-header {
    position: fixed;
    z-index: 300;
    top: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}

.welcome-header span {
    text-shadow: 2px 2px #000;
    color: #f4f7fb;
    font-weight: 700;
    font-size: 24px;

}

.line {
    border-bottom: 2px solid green;
}

.brand-logo {
    font-size: 28px;
    font-weight: bold;
}

.title-main h1 {
    letter-spacing: -1px;
    line-height: 54px;
    color: #000;
    font-size: 44px;
    font-family: proxima_novaextrabold;
    padding-top: 0;
}

.banner-sec a {
    margin-top: 32px;
}

.banner-btn {
    height: 150px;
    margin-top: 30px;
}

.banner-btn a {
    /*color: #FFF !important;*/
    text-decoration: none;
    width: 200px;
    border-radius: 32.5px !important;
    border: solid 2px #f13624;
    max-width: 100%;
    font-family: proximanovabold;
    -moz-transition: background-color .3s, color .3s;
    -webkit-transition: background-color 0.3s, color0.3s;
    transition: background-color .3s, color .3s;
    border: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 46px;
    font-size: 18px;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin-top: 100px;
    box-shadow: 5px 5px 15px 5px #ccc;
}

.banner-right img {
    /*width: 240px;*/
}

.cover {
    width: 210px;
    height: 420px;
    background-color: #4180d5;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 29px;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-inside {
    height: 96px;
    margin-top: 10px;
}

/*.fs-20{font-size: 60px}*/
@media(max-width: 763px) {
    .title-main h1 {
        font-size: 22px;
        line-height: 34px;
    }

    .banner-sec a {
        margin-top: 10px;
    }

    .banner-right {
        display: none;
    }

}